* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(159, 159, 159, 1) 35%,
    rgba(144, 144, 144, 1) 100%
  );
}

.hoverDiv {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.37);
  border: 3px solid black;
  box-shadow: 5px 5px #7c7c7c96;
  border-radius: 5px;
  width: auto;
  height: auto;
  right: -30%;
}

.secondBtns:hover .hoverDiv {
  display: block;
}

.object {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgb(105, 104, 104);
  box-shadow: 5px 5px #88888893;
  padding: 10px;
  width: 360px;
  height: 480px;
}

.form {
  height: 65px;
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid rgb(1, 65, 1);
  border-radius: 5px;
  background-color: green;
  padding-left: 10px;
}

.form:disabled {
  color: black;
}

.form::placeholder {
  color: black;
}

.button {
  cursor: pointer;
  height: 70px;
  width: 100%;
  border: 3px solid rgb(53, 53, 53);
  border-radius: 5px;
  background-color: rgb(139, 139, 139);
}

.firstBtns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1px;
}

.secondBtns {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}

#addition,
#subtraction,
#multiplication {
  margin-right: 5px;
}

#square,
#root {
  width: 100%;
}

#square {
  margin-right: 5px;
}

#reset {
  width: 100%;
  background-color: rgb(136, 1, 1);
  color: white;
}
